@inherits DetailsPreviewBase
@using System.Collections
@using SIM.CodeEngine.Dynamic
@using Newtonsoft.Json
@using SIM.Blazor.Components

<form>
    @{
        foreach (var prop in Object.GetType().GetProperties()
            .OrderBy(a => (a.GetCustomAttributes(typeof(JsonPropertyAttribute), true).FirstOrDefault() as JsonPropertyAttribute)?.Order))
        {
            if (prop.PropertyType == typeof(string) || prop.PropertyType == typeof(Type))
            {
                <SimSinglePropertyRepresentation Owner="@Object" BackingProprty="@prop" Editable="false"></SimSinglePropertyRepresentation>
            }
            else if (prop.PropertyType.GetInterface("IEnumerable") != null)
            {
                <SimListPropertyRepresantation Owner="@Object" BackingProprty="@prop" Editable="true"></SimListPropertyRepresantation>
            }
        }
    }
</form>