@inherits OverviewBase

@if (string.IsNullOrWhiteSpace(Mediator.Context))
{
    <div class="row justify-content-center">
        <div class="alert bg-warning">Choose a context (or create a new context) to see details</div>
    </div>
}
else
{
    <div class="row">
        <div class="col" style="margin: 0 5px 0px 5px;">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-10">
                        <h1 class="display-4">Nodes</h1>
                    </div>
                    <div class="col">
                        <a class="btn btn-success btn-lg" @onclick="NewNode">Add</a>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    @if (Nodes == null || Nodes.Count() == 0)
                    {
                        <p class="lead">There is still no node in the current context</p>
                    }
                    else
                    {
                        @foreach (var item in Nodes)
                        {
                            <div style="padding: 0 5px 0 0;"><p> <a class="btn btn-primary btn-lg" @onclick="() => NavigateToNode(item.Name)" role="button">@item.Name</a> </p></div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col" style="margin: 0 5px 0px 5px;">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-10">
                        <h1 class="display-4">Relations</h1>
                    </div>
                    <div class="col">
                        <a class="btn btn-success btn-lg" @onclick="NewRelation">Add</a>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    @if (Relations == null || Relations.Count() == 0)
                    {
                        <p class="lead">There is still no relation in the current context</p>
                    }
                    else
                    {
                        @foreach (var item in Relations)
                        {
                            <div style="padding: 0 5px 0 0;"><p> <a class="btn btn-success btn-lg" @onclick="() => NavigateToRelation(item.Name)" role="button">@item.Name</a> </p></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
