@page "/{entityName}"
@using SIM.Blazor.InternalComponents

    <div class="form-group">
        <h1>@entityName</h1>
        <button class="btn-secondary btn-lg" @onclick="AddNew">Add</button>
    </div>



<div>
    <EntityDetails TypeName="@entityName" />
</div>

@code{
    [Parameter]
    public string entityName { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public void AddNew()
    {
        NavigationManager.NavigateTo($"/{entityName}/Add");
    }
}