@page "/{entityName}"
@using SIM.Blazor.Components

<h1>@entityName</h1>

<div>
    <EntityDetails TypeName="@entityName" />
</div>

@code{
    [Parameter]
    public string entityName { get; set; }
}