@inherits EntitiesListBase

<div class="form-group">
    <table class="table table-bordered table-hover">
        @foreach (var type in Entities)
        {
            <tr>
                <td>
                    @type.Name
                </td>
            </tr>
        }
    </table>
</div>
