@inherits EntityDetailsBase
@using SIM.Core.Attributes

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            @*@foreach (var item in Type?.GetProperties().Where(a=>a.GetCustomAttributes(typeof(FirstLevelPropertyAttribute), false).Length != 0))*@
            @foreach (var item in Type?.GetProperties())
            {
                <td>
                    @item.Name
                </td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Objects)
        {
            <tr>
                @*@foreach (var prop in obj.GetType().GetProperties().Where(a => a.GetCustomAttributes(typeof(FirstLevelPropertyAttribute), false).Length != 0))*@
                @foreach (var prop in obj.GetType().GetProperties())
                {
                    <td>
                        @prop.GetValue(obj)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>